---
apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: ske-operator
  namespace: kratix-platform-system
data:
  config: |
    {{- if and (.Values.releaseStorage) }}
    releaseStorage:
      path: {{ .Values.releaseStorage.path }}
      {{- if and (.Values.releaseStorage.git) }}
      git:
        {{- with .Values.releaseStorage.git }}
        secretName: {{ .secret.name }}
        repo: {{ .repo }}
        branch: {{ .branch }}
        {{- end }}
      {{- end }}
      {{- if and (.Values.releaseStorage.bucket) }}
      bucket:
        {{- with .Values.releaseStorage.bucket }}
        name: {{ .name }}
        endpoint: {{ .endpoint }}
        region: {{ .rergion }}
        {{- if .secret }}
        secretName: {{ .secret.name }}
        {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
    imageRegistry:
    {{- with .Values.imageRegistry }}
      host: {{ .host }}
      pullSecret: {{ .imagePullSecret | default "syntasso-registry" }}
      platformImage: {{ .skePlatformImage.name }}
      pipelineImage: {{ .skePlatformPipelineAdapterImage.name }}
    {{- end }}

{{ if and (.Values.releaseStorage) (.Values.releaseStorage.git) (.Values.releaseStorage.git.secret) (.Values.releaseStorage.git.secret.values) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.releaseStorage.git.secret.name }}
  namespace: kratix-platform-system
type: Opaque
data: {{ toYaml .Values.releaseStorage.git.secret.values | nindent 2 }}
{{ end }}

{{ if and (.Values.releaseStorage) (.Values.releaseStorage.bucket) (.Values.releaseStorage.bucket.secret) (.Values.releaseStorage.bucket.secret.values) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.releaseStorage.bucket.secret.name }}
  namespace: kratix-platform-system
type: Opaque
data: {{ toYaml .Values.releaseStorage.bucket.secret.values | nindent 2 }}
{{ end }}
