resources:
- ./templates/ske-operator-distribution.yaml
images:
- name: ghcr.io/syntasso/ske-operator
  newName: "{{ .Values.imageRegistry.host }}/{{ .Values.imageRegistry.skeOperatorImage.name }}"
  newTag: "{{ .Chart.AppVersion }}"
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: '{{ .Values.imageRegistry.imagePullSecret | default "syntasso-registry" }}'

# patches:
#   - target:
#       kind: Deployment
#       name: ske-operator-controller-manager
#     patch: |
#       spec:
#         template:
#           spec:
#             containers:
#             - name: manager
#               image: {{ .Values.imageRegistry.host }}/{{ .Values.imageRegistry.skeOperator.name }}:{{ .Values.imageRegistry.skeOperator.tag }}
#             - name: webhook-server
#               image: {{ .Values.imageRegistry.host }}/{{ .Values.imageRegistry.skeOperator.name }}:{{ .Values.imageRegistry.skeOperator.tag }}
#             - name: metrics-server
#               image: {{ .Values.imageRegistry.host }}/{{ .Values.imageRegistry.skeOperator.name }}:{{ .Values.imageRegistry.skeOperator.tag }}
#             - name: controller-manager
#               image: {{ .Values.imageRegistry.host }}/{{ .Values.imageRegistry.skeOperator.name }}:{{ .Values.imageRegistry.skeOperator.tag }}
#
