# Default values for ske-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global configuration for the operator and operator-crd subchart
global:
  skeOperator:
    tlsConfig:
      certManager:
        disabled: false
        # private key rotation policy default to 'Always'
        # uncomment to set policy to 'Never'
        # privateKey:
        #   rotationPolicy: Never
      # if custom certificate issuer is used, the following values are required
      # issuerRef:
      #   kind: ClusterIssuer
      #   name: custom-selfsigned-issuer
    # if certManager.disabled is set to true, the following values are required
    # global.skeOperator.tlsConfig.webhookCACert:
    # global.skeOperator.tlsConfig.webhookTLSKey:
    # global.skeOperator.tlsConfig.webhookTLSCert:
  # skeDeployment:
  # WARNING: when skeDeployment.deleteOnUninstall is true, uninstalling this helm chart will delete your SKE platform
  # only set to true for dev or testing environments
  # deleteOnUninstall: false

# Your SKE License Key
skeLicense: "my-ske-license"
# Configuration for the Registry and Manifests
# Update these values if you are using a custom registry or bucket
# If using Syntasso Enterprise defaults, no changes are required
imageRegistry:
  # The host registry to pull the images from Syntasso Enterprise images are hosted on registry.syntasso.io
  # If you are using a custom registry, update this value to your registry host
  host: "registry.syntasso.io"
  # The name of the image pull secret to use. Update this if you are using a custom image pull secret
  # imagePullSecret: "my-secret"
  skeOperatorImage:
    # The name of the SKE operator use. Update this if you are using a custom image name for the operator
    name: "syntasso/ske-operator"
  skePlatformImage:
    # The name of the SKE Platform image
    name: "syntasso/ske-platform"
  skePlatformPipelineAdapterImage:
    # DEPRECATED: This field is no longer needed for SKE v0.37.0 and above
    # The name of the SKE-Platform Pipeline Adapter image
    name: "syntasso/ske-platform-pipeline-adapter"
  backstageControllerImage:
    # The name of the Backstage Controller image
    name: "syntasso/backstage-controller"
# Syntasso Enterprise manifests are available in the S3 bucket below
# If you are using a custom bucket, update the values accordingly
releaseStorage:
  path: "ske"
  # if you are using a Git repository to store the manifests, update the values below and comment out the bucket section.
  # Provide either a secretName. If username and password is not provided, it
  # assumes the secret already exist and contains the required keys.
  # git:
  #  branch: main
  #  repo: https://github.com/org/repo
  #  secret:
  #    name: git-creds # the secret must be created in the same namespace as the operator. It must contain the following keys: username, password. If provided below it is automatically created
  #    values:
  #      username: "my-username" # instead of providing a secretName you can provide the username and password directly
  #      password: "my-password"

  bucket:
    name: "syntasso-enterprise-releases"
    region: "eu-west-2"
    # if you are using a custom endpoint, update this value
    # endpoint: "https://s3.eu-west-2.amazonaws.com"
    # If your bucket is private, you can provide a secret with the credentials to access
    # the bucket. The secret must be created in the same namespace as the operator. It must
    # contain the following keys:
    # - accessKeyID
    # - secretAccessKey
    # secret:
    #   name: "my-secret" # the secret must be created in the same namespace as the operator. It must contain the following keys: accessKeyID, secretAccessKey. If provided below it is automatically created
    #   values:
    #     accessKeyID: "my-access"
    #     secretAccessKey: "my-secret"

  # If you are mirroring SKE release bucket, you might need to provide a custom CA certificate
  # for accessing the release storage endpoints.
  # customCaCert:
  #   name: "ske-release-storage-custom-ca" # Secret name; default to ske-release-storage-custom-ca if not set
  #   values:
  #     caCert: |-
  #       -----BEGIN CERTIFICATE-----
  #       ...
  #       -----END CERTIFICATE-----
skeOperator:
  # Set if you want to change the resources for the operator container
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
      # ephemeral-storage: "2Gi"
    limits:
      memory: "256Mi"
      cpu: "100m"
      # ephemeral-storage: "4Gi"
  nodeSelector: {}
  tolerations: []
  affinity: {}

skeDeployment:
  # Set to true if you want to deploy SKE
  enabled: true
  # The version of ske to deploy
  version: "latest"
  deploymentConfig:
    resources:
      limits:
        memory: "256Mi"
        cpu: "100m"
      requests:
        memory: "256Mi"
        cpu: "100m"
  tlsConfig:
    certManager:
      disabled: false
      # if custom certificate issuer is used, the following values are required
      # issuerRef:
      #   name: "custom-selfsigned-issuer"
      #   kind: "ClusterIssuer"
    # if certManager.disabled is set to false, the following values are required within the tlsConfig
    # webhookCACert:
    # webhookTLSKey:
    # webhookTLSCert:
    # metricsServerCACert:
    # metricsServerTLSKey:
    # metricsServerTLSCert:
  additionalResources: []
#   Example
#  - apiVersion: platform.kratix.io/v1alpha1
#    kind: Destination
#    metadata:
#      name: worker-1
#      labels:
#        environment: dev
#    spec:
#      stateStoreRef:
#        name: default
#        kind: BucketStateStore
#      path: path/in/statestore
#  - kind: BucketStateStore
#    apiVersion: platform.kratix.io/v1alpha1
#    metadata:
#      name: default
#    spec:
#      endpoint: minio.kratix-platform-system.svc.cluster.local
#      insecure: true
#      bucketName: kratix
#      authMethod: accessKey
#      secretRef:
#        name: minio-credentials
#        namespace: default

backstageIntegration:
  # Set to true if you want to deploy the SKE Backstage Controller
  enabled: false
  # The version of the controller to deploy
  version: "latest"
  deploymentConfig:
    resources:
      limits:
        memory: "256Mi"
        cpu: "100m"
      requests:
        memory: "256Mi"
        cpu: "100m"

additionalResources: []
# Any additional k8s resources, such as Secrets, Configmaps
