apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: backstage-controller
    control-plane: kratix-backstage-controller-manager
  name: backstage-controller-controller-manager
  namespace: kratix-platform-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: backstage-controller
      control-plane: kratix-backstage-controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: backstage-controller
        control-plane: kratix-backstage-controller-manager
    spec:
      containers:
        - args:
            - --metrics-bind-address=:8443
            - --leader-elect
            - --health-probe-bind-address=:8081
          command:
            - /backstage-controller
          env:
            - name: PIPELINE_ADAPTER_IMG
              valueFrom:
                configMapKeyRef:
                  key: PIPELINE_ADAPTER_IMG
                  name: kratix-platform-pipeline-adapter-config
            - name: SKE_BACKSTAGE_GENERATOR_IMG
              valueFrom:
                configMapKeyRef:
                  key: SKE_BACKSTAGE_GENERATOR_IMG
                  name: backstage-controller-config
          image: registry.syntasso.io/syntasso/backstage-controller:v0.4.1
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          ports: []
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts: []
      imagePullSecrets:
        - name: syntasso-registry
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: backstage-controller-controller-manager
      terminationGracePeriodSeconds: 10
      volumes: []
