apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: kratix-manager
    app.kubernetes.io/instance: kratix-platform
    app.kubernetes.io/part-of: kratix
    control-plane: controller-manager
  name: kratix-platform-controller-manager
  namespace: kratix-platform-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: kratix-manager
      app.kubernetes.io/instance: kratix-platform
      app.kubernetes.io/part-of: kratix
      control-plane: controller-manager
  template:
    metadata:
      labels:
        app.kubernetes.io/component: kratix-manager
        app.kubernetes.io/instance: kratix-platform
        app.kubernetes.io/part-of: kratix
        control-plane: controller-manager
    spec:
      containers:
        - args:
            - --metrics-bind-address=:8443
            - --health-probe-bind-address=:8081
            - --leader-elect
          command:
            - /manager
          env:
            - name: PIPELINE_ADAPTER_IMG
              valueFrom:
                configMapKeyRef:
                  key: PIPELINE_ADAPTER_IMG
                  name: kratix-platform-pipeline-adapter-config
          image: syntasso.docker.scarf.sh/syntasso/kratix-platform@sha256:edb7c9109d8f4f56862568c50ea68f6bda099df30ecc34f708da38abe84ce3b4
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 100m
              memory: 100Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
            - mountPath: /tmp/k8s-metrics-server/serving-certs
              name: metrics-certs
              readOnly: true
      securityContext:
        runAsNonRoot: true
      serviceAccountName: kratix-platform-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: webhook-server-cert
        - name: metrics-certs
          secret:
            items:
              - key: ca.crt
                path: ca.crt
              - key: tls.crt
                path: tls.crt
              - key: tls.key
                path: tls.key
            optional: false
            secretName: metrics-server-cert
