{{ if .Values.global.skeOperator.tlsConfig.certManager.disabled }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
  {{- if .Values.global.skeDeployment }}
    {{- if eq (default .Values.global.skeDeployment.deleteOnUninstall false) true }}
    helm.sh/resource-policy: keep
    {{- end }}
    {{- end }}
    controller-gen.kubebuilder.io/version: v0.15.0
  name: kratixes.platform.syntasso.io
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          name: ske-operator-webhook-service
          namespace: kratix-platform-system
          path: /convert
        caBundle: |-
          {{ .Values.global.skeOperator.tlsConfig.webhookCACert | b64enc }}
      conversionReviewVersions:
        - v1
  group: platform.syntasso.io
  names:
    kind: Kratix
    listKind: KratixList
    plural: kratixes
    singular: kratix
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.conditions[?(@.type=="KratixDeploymentReady")].reason
          name: Status
          type: string
        - jsonPath: .status.lastAppliedVersion
          name: Last Applied Version
          type: string
        - jsonPath: .spec.version
          name: Version
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Kratix is the Schema for the kratixes API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: KratixSpec defines the desired state of Kratix
              properties:
                tlsConfig:
                  description: TLSConfig is the configuration for TLS on the deployed SKE
                  properties:
                    certManager:
                      description: CertManager is the configuration for the cert-manager integration
                      properties:
                        disabled:
                          description: Disabled indicates whether the Operator should create cert-manager resources
                          type: boolean
                      required:
                        - disabled
                      type: object
                    certSecretName:
                      description: |-
                        CertSecretName is the name of the secret containing the TLS Certificate.
                        The underlying secret must include the following keys:
                        - tls.crt: The TLS Certificate
                        - tls.key: The TLS Private Key
                        - ca.crt: The Certificate Authority
                        MetricsServerCertSecretName must be set if cert-manager is disabled.
                      type: string
                    metricsServerCertSecretName:
                      description: |-
                        MetricsServerCertSecretName is the name of the secret containing the TLS Certificate for the metrics endpoint.
                        The underlying secret must include the following keys:
                        - tls.crt: The TLS Certificate
                        - tls.key: The TLS Private Key
                        - ca.crt: The Certificate Authority
                        MetricsServerCertSecretName must be set if cert-manager is disabled.
                      type: string
                  type: object
                version:
                  description: |-
                    Version is the version of the Kratix platform to deploy, and corresponds to the
                    version in the object path in the S3 bucket.
                  type: string
              type: object
            status:
              description: KratixStatus defines the observed state of Kratix
              properties:
                conditions:
                  items:
                    description: "Condition contains details for one aspect of the current state of this API Resource.\n---\nThis struct is intended for direct use as an array at the field path .status.conditions.  For example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the observations of a foo's current state.\n\t    // Known .status.conditions.type are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    // +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t    // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t    // other fields\n\t}"
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: |-
                          reason contains a programmatic identifier indicating the reason for the condition's last transition.
                          Producers of specific condition types may define expected values and meanings for this field,
                          and whether the values are considered a guaranteed API.
                          The value should be a CamelCase string.
                          This field may not be empty.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: |-
                          type of condition in CamelCase or in foo.example.com/CamelCase.
                          ---
                          Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                          useful (see .node.status.conditions), the ability to deconflict is important.
                          The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                lastAppliedVersion:
                  type: string
                ready:
                  type: boolean
                upgradedDeploymentReadyAt:
                  format: date-time
                  type: string
              required:
                - ready
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
{{ end }}
